@use "global" as *;
// sp size 375px -> sp
// tb size 768px -> md
// pc size 1440px -> xl

#slide {
  position: relative;
  overflow: hidden;
  height: 375px;
  @include mq(md) {
    height: 768px;
  }
  @include mq(xl) {
  }
}

#slide ul {
  position: absolute;
  width: 1125px;
  @include mq(md) {
    width: 2304px;
  }
  @include mq(xl) {
  }
}

#slide li {
  float: left;
  width: 375px;
  list-style-type: none;
  @include mq(md) {
    width: 768px;
  }
  @include mq(xl) {
  }
}
